// FAQ
.faq {
    padding: $d-grande 0;

    h1 {
        @include titulo-sessao();
    }

    p {
        @include subtitulo-sessao();
        margin-bottom: $d-pequena;
    }

    .faq-lista {
        justify-content: center;

        dt, dd {
            @include grid(7);
        }

        dt {
            padding: 10px;
            border-radius: 5px;
            font-family: $titulo;
            font-size: em(16);
            letter-spacing: 0.1em;
            color: $primaria;
            background-color: $branco-1;
            position: relative;
            cursor: pointer;
            @include sombra(4px 4px 8px rgba(0, 0, 0, 0.25));

            &::after {
                content: "";
                width: 20px;
                height: 12px;
                top: 15px;
                right: 20px;
                background: url("../img/icones/setinha.svg") no-repeat center;
                background-size: cover;
                display: inline-block;
                position: absolute;
                transition: 0.5s ease;
            }

            &.ativo::after {
                transform: rotate(180deg);
            }
        }

        dt {
            margin-top: $d-pequena;
        }

        dd {
            max-height: 0px;
            padding: 10px;
            font-family: $corpo-texto;
            font-size: (16em);
            line-height: 1.4em;
            color: #222;
            font-size: em(16);
            overflow: hidden;
            animation: encolher 0.5s ease forwards;

            &.ativo {
                max-height: 500px;
                animation: crescer 0.5s ease forwards;
            }
        }
    }    
}

// Contato
.contato  {
    padding: $d-grande 0;
    background-color: $secundaria;
    @include forms($branco-1);

    h1 {
        @include titulo-sessao($branco-1);
    }

    .container {
        margin-top: $d-media;
        justify-content: space-around;
        align-items: flex-start;
    }

    .redes-sociais {
        @include grid(4);

        h2 {
            font-family: $titulo;
            font-size: em(18);
            font-weight: bold;
            text-align: center;
            color: $branco-1;

            &::after {
                content: "";
                width: 100px;
                height: 3px;
                margin: 2px auto  $d-pequena;
                background-color: currentColor;
                display: block;
            }
        }

        .linha {
            justify-content: center;
        }

        li + li {
            margin-left: 20px;
        }

        a {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: $primaria;
            overflow: hidden;
            display: block;

            &.facebook {
                padding: 5px;
            }
        }

        @include responsividade() {
            display: none;
        } 
    }
}