// Variáveis do Grid
$colunas: 12;
$gutter: 20px;
$tela-grande: 960px;
$tela-media: 720px;
$tela-pequena: 300px;

// Adicionar box sizing
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Mixin dos media-query
@mixin responsividade($tamanho: false) {
    @if ($tamanho == media)
    {
        @media screen and (max-width: $tela-grande + 30) {
            @content;
        }
    }
    @else
    {
        @media screen and (max-width: $tela-media + 30) {
            @content;
        } 
    }
}

// Mixin container
.container {
    max-width: $tela-grande;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include responsividade(media) {
        max-width: $tela-media;
    }

    @include responsividade() {
        max-width: $tela-pequena;
    }
}

.linha {
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

// grid
@mixin grid($coluna) {
    $largura: $coluna / $colunas * 100 + "%";
    $valorFinal: calc(#{$largura} - #{$gutter});

    width: $valorFinal;
    min-height: 1px;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;

    @include responsividade() {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}